.info__edit-button {
  background-image: url("../../../images/edit_button.svg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 24px;
  height: 24px;
  cursor: pointer;
  transition: opacity 0.3s ease;
  background-color: inherit;
  border: 0;
}

.info__edit-button:hover {
  opacity: 0.6;
}

@media (max-width: 768px) {
  .info__edit-button {
    position: absolute;
    right: -28px;
    top: 11px;
    width: 18px;
    height: 18px;
  }
}
